In [1]:
import pandas as pd
import numpy as np 
import scipy.stats as sci
import matplotlib.pyplot as plt 
import statsmodels.api as st
from sklearn.model_selection import train_test_split 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, mean_squared_error, r2_score
from sklearn.linear_model import Ridge, RidgeCV
from sklearn.model_selection import RepeatedKFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import sklearn.metrics as metrics
import matplotlib.pyplot as plt
import matplotlib as mpl
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LassoCV

In [2]:
data = pd.read_csv('/Users/misaalsingh/Documents/Data_Mining_Proj/Maven_Business_School(final).csv')
data = data.fillna(0)
data = data.replace(['Business', 'Computer Science', 'Finance', 'Engineering', 'Art'], [1,2,3,4,5])
data = data.replace(['Yes', 'No'], [1,0])
data = data.replace(['Placed', 'Not Placed'], [1,0])

data

,Student ID,Undergrad Degree,Undergrad Grade,MBA Grade,Work Experience,Employability (Before),Employability (After),Status,Annual Salary
0,570,5,56.8,54.0,0,221.0,62.000000,0,0.0000
1,779,3,47.3,44.9,0,203.0,62.000000,1,107000.0000
2,582,2,60.4,57.4,0,220.0,76.000000,1,149666.6667
3,791,1,52.1,49.5,0,202.0,76.000000,1,132500.0000
4,576,1,58.6,55.7,1,220.0,98.000000,1,182333.3333
...,...,...,...,...,...,...,...,...,...
1155,204,3,75.0,71.3,0,252.0,687.561313,1,193666.6667
1156,205,5,80.0,76.0,0,252.0,690.019102,0,0.0000
1157,206,1,85.0,80.8,1,252.0,692.476891,1,100500.0000
1158,207,2,90.0,85.5,0,252.0,694.934680,1,182333.3333
1159,208,4,95.8,91.0,0,252.0,697.392469,0,0.0000

Preview of the Maven Business School data and then querying entries where the status of the applicant is that he/she is placed into business school

In [3]:
col = ['Undergrad Degree', 'Undergrad Grade','MBA Grade', 'Work Experience' ,'Employability (Before)', 
       'Employability (After)']
x = data[col]
y = data['Status']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)

In [4]:
clm = DecisionTreeClassifier(criterion='entropy')
clm.fit(x_train, y_train)
y_pred = clm.predict(x_test)

rf_model = RandomForestClassifier(criterion='entropy', n_estimators=50, max_features="auto", random_state=30)
rf_model.fit(x_train, y_train)

y_pred_2 = rf_model.predict(x_test)

naive_bayes = GaussianNB()
naive_bayes.fit(x_train, y_train)
y_pred_3 = naive_bayes.predict(x_test)

knn = KNeighborsClassifier(n_neighbors=20)  
knn.fit(x_train, y_train)
y_pred_4 = knn.predict(x_test)


print("Accuracy Decsion Tree:", accuracy_score(y_test, y_pred))
print("Accuracy Random Forest:", accuracy_score(y_test, y_pred_2))
print("Accuracy Naive Bayes:", accuracy_score(y_test, y_pred_3))
print("Accuracy KNN:", accuracy_score(y_test, y_pred_4))

/Users/misaalsingh/opt/anaconda3/lib/python3.9/site-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(

Accuracy Decsion Tree: 0.9396551724137931
Accuracy Random Forest: 0.9597701149425287
Accuracy Naive Bayes: 0.7787356321839081
Accuracy KNN: 0.5287356321839081

In [5]:
col = ['Undergrad Degree', 'Undergrad Grade','MBA Grade', 'Work Experience' ,'Employability (Before)', 'Employability (After)']


clm_importances = clm.feature_importances_

columns = col
i = 0

print('Importances of each feature by Decision Tree Model\n')
while i < len(columns):
    print(f"The importance of feature '{columns[i]}' is {round(clm_importances[i]*100,2)}%.")
    i+=1

print('\n')

rf_importances = rf_model.feature_importances_
i = 0

print('Importances of each feature by RF Model \n')
while i < len(columns):
    print(f"The importance of feature '{columns[i]}' is {round(rf_importances[i]*100,2)}%.")
    i+=1

Importances of each feature by Decision Tree Model

The importance of feature 'Undergrad Degree' is 78.91%.
The importance of feature 'Undergrad Grade' is 7.06%.
The importance of feature 'MBA Grade' is 10.16%.
The importance of feature 'Work Experience' is 0.56%.
The importance of feature 'Employability (Before)' is 2.54%.
The importance of feature 'Employability (After)' is 0.78%.


Importances of each feature by RF Model

The importance of feature 'Undergrad Degree' is 75.88%.
The importance of feature 'Undergrad Grade' is 5.96%.
The importance of feature 'MBA Grade' is 6.07%.
The importance of feature 'Work Experience' is 3.84%.
The importance of feature 'Employability (Before)' is 5.14%.
The importance of feature 'Employability (After)' is 3.11%.